[submodule "generate/Vulkan-Docs"]
	path = generate/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "generate-new/Vulkan-Docs"]
	path = generate-new/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "generate-new/VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "generate-new/OpenXR-Docs"]
	path = generate-new/OpenXR-Docs
	url = git://github.com/KhronosGroup/OpenXR-Docs.git
