name: bump-command
on:
  repository_dispatch:
    types: [bump-command]

jobs:
  bump:
    runs-on: ubuntu-20.04
    steps:
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v10
        with:
          name: vulkan-haskell
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - id: creds
        run: |
          # Escape newlines
          DEPLOY_KEY="${DEPLOY_KEY//'%'/'%25'}"
          DEPLOY_KEY="${DEPLOY_KEY//$'\n'/'%0A'}"
          DEPLOY_KEY="${DEPLOY_KEY//$'\r'/'%0D'}"
          printf "%s\n" "::set-output name=ssh_key::"
          # Will not trigger CI job by default
          printf "%s\n" "::set-output name=token::$GITHUB_TOKEN"
          if [ "$owner" == "ThreeOfTwelve" ]; then
            printf "%s\n" "::set-output name=token::$TUVOK_TOKEN"
          elif [ "$owner" == "expipiplus1" ]; then
            printf "%s\n" "::set-output name=ssh_key::$DEPLOY_KEY"
          fi
        env:
          owner: ${{ github.event.client_payload.pull_request.head.repo.owner.login }}
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          TUVOK_TOKEN: ${{ secrets.TUVOK_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Checkout the pull request branch
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ steps.creds.outputs.ssh_key }}
          token: ${{ steps.creds.outputs.token }}
          repository: ${{ github.event.client_payload.pull_request.head.repo.full_name }}
          ref: ${{ github.event.client_payload.pull_request.head.ref }}
          submodules: recursive

      - uses: expipiplus1/action-automation/bump-version@HEAD
        with:
          packageInfos: |
            vulkan v .
            vma vma-v VulkanMemoryAllocator
            utils utils-v utils
          packageVersions: |
            ${{ toJson(github.event.client_payload.slash_command.args.named) }}

      - run: |
          git push origin HEAD:${{ github.event.client_payload.pull_request.head.ref }}

      - name: Add reaction
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ secrets.TUVOK_TOKEN }}
          repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
          comment-id: ${{ github.event.client_payload.github.payload.comment.id }}
          reaction-type: rocket
