name: Tag Latest Release

on:
  push:
    branches:
    - main

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: tibdex/github-app-token@v2
      id: generate-token
      with:
        app_id: ${{ secrets.APP_ID }}
        private_key: ${{ secrets.APP_PRIVATE_KEY }}

    - uses: cachix/install-nix-action@v31.6.1
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0   # Fetch everything
        token: ${{ steps.generate-token.outputs.token }}

    - uses: expipiplus1/action-automation/tag-latest-release@HEAD
      with:
        tagsAndFiles: |
          v package.yaml
          vma-v VulkanMemoryAllocator/package.yaml
          utils-v utils/package.yaml
          xr-v openxr/package.yaml
